.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 95%;
  position: relative;
  max-width: 700px;
  height: 50px;
  clear: both;
}

.container img {
  width:100%;
  height: 100%;
}

body, html {
  background: #333;
}

#fortunepage {
	box-shadow: inset 0 0 20px #ffa680;
	font-size: 90%;
}

.ui-content {
	padding: 10px;
}

#controls {
	margin: 0 auto;
	text-align: center;
}

#nonetwork {
  display: none;
}

#fortune-back {
	display: none;
	position: absolute;
	top:0;
	left:0;
	float: left;
}

p {
	margin: 0.4 0 1em 0;
}

.ui-li-thumb { 
	max-height: 80px;
	max-width: 310px;
	padding-left: 10px;
}

.favorited {
	color: #ffb899;
	text-align: center;
	display: none;
	font-size: 150%;
	margin-top: 10px;
}